* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.print-area {
  width: 50%;
  margin: 20px auto;
}

.print-area .header {
  width: 100%;
  height: 180px;
  background: url(https://images.unsplash.com/photo-1615869442320-fd02a129c77c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1334&q=80);
  display: flex;
  align-items: center;
  position: relative;
}

.header img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 50px;
  border: 5px solid white;
  box-shadow: 3px 3px 10px grey;
}

.content {
  display: flex;
  flex-wrap: wrap;
}
.left-area {
  width: 35%;
  background-color: #e4e4e4;
  text-align: left;
}

.profil {
  margin: 130px 20px 50px 50px;
}

.abilitati {
  margin: 50px;
}

.contact {
  margin: 50px;
}

.left-content p {
  font-size: 17px;
  font-weight: normal;
  margin: 20px 0;
  font-family: "Roboto", sans-serif;
}

.left-content h2 {
  margin: 20px 0;
  font-size: 25px;
  font-family: "Fredoka One", cursive;
  color: #ffae00;
  letter-spacing: 5px;
}

.left-content li {
  font-size: 17px;
  font-weight: normal;
  margin: 10px 0;
  font-family: "Roboto", sans-serif;
}

.right-area {
  width: 65%;
  /*background-color: #d9fff4;*/
  background-image: url("img1.jpg");
}

.nume h1 {
  font-size: 45px;
  font-family: "Fredoka One", cursive;
  color: #ffae00;
  letter-spacing: 3px;
}
.nume b {
  font-size: 25px;
  font-weight: normal;
  margin: 20px 0;
  font-family: "Roboto", sans-serif;
}

.lower {
  width: 100%;
  height: 80px;
  background-color: #ffae00;
}

.right-content {
  margin: 60px 0px 60px 50px;
}
.studii {
  margin: 60px 0px;
}
.studii h2 {
  margin: 20px 0;
  font-size: 25px;
  font-family: "Fredoka One", cursive;
  color: #ffae00;
  letter-spacing: 5px;
}

.liceu1 {
  margin: 20px;
  font-size: 17px;
  font-weight: normal;
  margin: 20px 0;
  font-family: "Roboto", sans-serif;
}
.liceu2 {
  margin: 20px;
  font-size: 17px;
  font-weight: normal;
  margin: 20px 0;
  font-family: "Roboto", sans-serif;
}
.colegiu {
  margin: 20px;
  font-size: 17px;
  font-weight: normal;
  margin: 20px 0;
  font-family: "Roboto", sans-serif;
}
.utm {
  margin: 20px;
  font-size: 17px;
  font-weight: normal;
  margin: 20px 0;
  font-family: "Roboto", sans-serif;
}

.limbi {
  margin-top: 50px;
}
.limbi h2 {
  margin: 20px 0;
  font-size: 25px;
  font-family: "Fredoka One", cursive;
  color: #ffae00;
  letter-spacing: 5px;
}

.limbi p {
  font-size: 20px;
  font-weight: normal;
  margin: 20px 0;
  font-family: "Roboto", sans-serif;
}
.hobby {
  margin-top: 50px;
}
.hobby h2 {
  margin: 20px 0;
  font-size: 25px;
  font-family: "Fredoka One", cursive;
  color: #ffae00;
  letter-spacing: 5px;
}

.hobby li {
  font-size: 20px;
  font-weight: normal;
  margin: 20px 0;
  font-family: "Roboto", sans-serif;
}
