@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f5f5f5;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
}

header {
  height: 70px;
  background-color: #0f1626;
  position: fixed;
  width: 100%;
  padding-top: 20px;
  padding-left: 30px;
  font-size: 20px;
}

header a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.page-container {
  min-height: 100vh;
  padding-top: 70px;
}

h2 {
  text-align: center;
}

main {
  margin: 10px 10% 60px 220px;
  padding: 0px 25px;
}

aside {
  width: 190px;
  height: 100vh;
  position: fixed;
  background: linear-gradient(to bottom, #18243f, #30415d);
  padding-top: 10px;
  font-size: 20px;
}
aside a {
  display: block;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin-top: 35px;
}

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
}

.gallery img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.3s;
}

.gallery img:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table tr td {
  border: 2px solid black;
  text-align: center;
  height: 90px;
}
table th {
  background-color: #04aa6d;
  color: white;
  height: 70px;
  border: 2px solid black;
}

td {
  background-color: #e6ffe1;
}

.intro-video {
  display: block;
  height: 80vh;
  margin: auto;
  max-width: 100%;
}

.container {
  margin: 50px auto;
  padding: 8px;
}

.imagine {
  float: left;
  width: 250px;
  height: 500px;
  padding: 15px;
}
